################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Saved/Logs
/Saved/Config/CrashReportClient
/Saved/Backup
/Saved
/Intermediate/ReimportCache
/Intermediate/Build/Win64/UE4Editor
/Intermediate/Build
/Intermediate
/Binaries/Win64
/.vs
